html {
  font-family: IBM Plex Sans, sans-serif;
}

header {
  background-color: #ddd;
}

.aside {
  background-color: #efefef;
}

li {
  background-color: #fff;
  border-radius: 5px;
}

table {
  min-width: 50em;
}

img {
  max-width: 70%;
}
